gcp-service-account-key.json

.vscode
devops/ansible/venv
old_server
web_old

client/config/dev.json
client/config/prod.json
client/node_modules
client/.expo
client/.expo-shared
client/npm-debug.*
client/*.jks
client/*.p8
client/*.p12
client/*.key
client/*.mobileprovision
client/*.orig.*
client/web-build/
client/web-report/
client/.idea/*

server/node_modules
server/src/config/credentials.json
server/src/config/devTokens.ts
server/build

functions/src/config/credentials.json
functions/**/*.js
functions/**/*.js.map
functions/!.eslintrc.js
functions/typings/
functions/node_modules
functions/build
functions/src/server
*.log
