.SearchBar {
  width: 700px;
}

.SearchBar-input-container {
  display: flex;
  margin-bottom: 1em;
  align-items: center;
  background-color: #2a2a2a;
  border-radius: 50px;
  border-width: 0.2em;
  border-color: transparent;
  border-style: solid;
}

.SearchBar-input-container:focus-within {
  border-radius: 50px;
  border-color: #c1c1c1;
}

.SearchBar-input {
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  padding: 0.5em;
  margin: 0.5em;
  background-color: transparent;
  border-color: transparent;
  color: #c1c1c1;
}

.SearchBar-input:focus {
  outline: none;
}

.SearchBar-search-icon {
  margin-left: 1em;
  color: #c1c1c1;
}

.SearchBar-filter-button {
  margin-right: 1em;
  background-color: transparent;
  border: 0;
  outline: none;
}

.SearchBar-filter-button:hover,
.SearchBar-filter-icon:hover {
  color: white;
}

.SearchBar-filter-button:active {
  border-color: #c1c1c1;
}

.SearchBar-filter-menu {
  color: white;
}

.SearchBar-filter-icon {
  color: #c1c1c1;
}

.SearchBar-filter-categories {
  width: 100%;
}

.SearchBar-filter-categories-button {
  width: 100%;
  height: 50px;
  border-color: transparent;
  background-color: red;
  color: white;
  border-radius: 50px;
  font-size: larger;
  font-weight: bold;
}

.SearchBar-categories-container {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.SearchBar-categories-scroll {
  overflow: hidden;
}

.SearchBar-categories-arrow-button {
  background-color: transparent;
  border-color: transparent;
}

.SearchBar-categories-button-container {
  display: flex;
  justify-content: center;
  margin-left: 0.2em;
  margin-right: 0.2em;
}

.SearchBar-categories-button {
  width: 135px;
  background-color: transparent;
  border-color: transparent;
  color: #c1c1c1;
  padding: 1em;
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 50px;
  margin-top: 0.2em;
}

.SearchBar-categories-button-selected {
  background-color: red;
  color: white;
}

.SearchBar-categories-icon {
  color: #c1c1c1;
}

.cancel {
  font-size: large;
  font-weight: bold;
  color: red;
}
